extends ui_layout_no
block content
	link(href='https://unpkg.com/intro.js/minified/introjs.min.css' rel='stylesheet')
	link(href='https://unpkg.com/intro.js/themes/introjs-modern.css' rel='stylesheet')
	.header 
		.ui.grid
			.row
				.six.wide.column
					h1.ti Your Post
					.ui.section.divider
					.ui.fluid.icon.input
						input.intext(type='textarea' placeholder='What is on you mind?' style='min-height:100px')
					<br><br><br><br><br><br><br><br>

					.centered.row
						.ui.image.label
							img.ig(src='/profile_pictures/0.jpg')
							span=name
							i.delete.icon
						.ui.buttons 
							button.ui.blue.button#pri Share
						

				.eight.wide.column
					<h3>Preview</h3>

					a.image(href='#')
					img.ui.fluid.image(src='/post_pictures/11.jpg')
			.row
				.column 	
			

	.ui.nudge.modal
		.header Are you sure?
		.content
			case condis
				when "aod" : p You are about to add this photo to Na’s Timeline and your own. Please note that both Na’s friends and yours can see your post, reshare this photo, and have access to your information.
				when "aon" : p You have only posted 2 photos to other people’s Timeline in the past 12 months.
				when "asd" : p You are about to add this photo to Na’s Timeline and your own. Please note that both Na’s friends and yours can see your post, reshare this photo, and have access to Na’s information.
				when "asn" : p Na has only posted 2 photos to her Timeline in the past 12 months.
				when "cod" : p You are about to add this photo to Na’s Timeline and your own. Please note that, by tagging Na, Na will have edit rights to this photo, and the information you added to this photo, including caption, tagging, etc.
				when "con" : p You have only tagged other people in your own photos 2 times in the past 12 months.
				when "csd" : p You are about to add this photo to Na’s Timeline and your own. Please note that Na cannot change your sharing of this photo, or the information you added to this photo, including caption, tagging, etc.
				when "csn" : p Na has only been tagged in 2 photos in the past 12 months
				when "eod" : p You are about to add this photo to Na’s Timeline and your own. Please note that Na’s friends outside your network can also see you tagged in this photo, view your profile, and/or reshare this photo.
				when "eon" : p Na has 327 friends outside of your network
				when "esd" : p You are about to add this photo to Na’s Timeline and your own. Please note that your friends outside of Na’s network can see Na tagged in this photo, view her profile, and/or reshare this photo.
				when "esn" : p You have 327 friends outside of Na’s network.
				default: p you need to select one case 
		.actions
			.ui.floating.fluid.labeled.icon.dropdown.button(style=' width: 250px;')
				span.text  
					i.globe.icon 
					| Public
				.menu
					.p Who can see your post?
					.header Your post will show up in Feed, on your profile and in search results.
					.divider
					.item
						i.globe.icon 
						| Public
					.header
						| Anyone on or off Facebook
					.divider
					.item
						i.users.icon 
						| Friends(+)
					.header
						| Your friends on Facebook
					.divider
					.item
						i.user.icon 
						| Specific Friends
					.header
						| Only show to some friends
					.divider
					.item
						i.lock.icon 
						| Only me
			.ui.cancel.button CANCEL
			.ui.blue.approve.button POST


	//add intro
	script.
		introJs().setOptions({
			steps: [{
				title: 'Welcome',
				intro: 'welcome to our website' 
				},
				{
				element: document.querySelector('.ti'),
				intro: 'This is our story'
				},
				{
				element: document.querySelector('.intext'),
				intro: 'And this is text area'
				},
				{
				element: document.querySelector('.ig'),
				intro: 'This is our photo'
				}]
		}).start();

			//  /pri?c=pri1
